@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-family: "나눔 고딕";
  box-sizing: content-box;
}

header {
  width: 1191px;
  height: 124px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
}

header a {
  color: black;
  text-decoration: none;
}
#toplogin {
  width: 200px;
  height: 10px;
  float: right;
}

#toplogin p {
  font-size: 10pt;
  color: gray;
  text-align: right;
  position: absolute;
}
#toplogin b {
  font-size: 10pt;
  color: gray;
  text-align: right;
  position: absolute;
}

#logo {
  width: 220px;
  height: 100px;
  margin: 5px 0px 0 50px;
}

#inputsearch {
  width: 300px;
  height: 30px;
  float: right;
  font-size: 11pt;
  margin: 90px -160px 0 0;
  border-radius: 15px;
  background-color: rgb(235, 232, 232);
}
#inputsearch:focus {
  background-color: rgba(235, 232, 232, 0.5);
  box-shadow: 0 0 3px red;
}
#Search_img {
  width: 30px;
  height: 30px;
  margin: 92px -300px 0 0;
  float: right;
}
.mypage_img {
  width: 20px;
  height: 20px;
  float: left;
}

.basket {
  position: absolute;
  top: 45px;
  right: 50px;
}

.basket_img {
  width: 20px;
  height: 20px;
  float: left;
}

.my {
  position: absolute;
  top: 45px;
  right: 160px;
}
/* 메뉴시작 */
#icon_box {
  width: 1191px;
  height: 100px;
  background-color: white;
  margin: 0 auto;
}

.iconbox img {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 10px;
  display: inline;
}

#icon_box span {
  font-size: 12pt;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 20px;
}

#icon_box a {
  text-decoration: none;
  color: black;
}
.iconbox {
  width: 120px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid gray;
  background-color: white;
  margin: 30px 10px 0 25px;
  display: inline-block;
  position: relative;
  /* line-height: 5px; */
}

.iconbox2 {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 25px;
}
footer {
  width: 100%;
  height: 180px;
  background-color: white;
  margin: 0 auto;
  border-top: 3px solid lightgray;
  text-decoration: none;
  list-style-type: none;
  position: relative;
}

footer img {
  width: 90px;
  height: 100px;
  margin: 20px 0 0 130px;
}
footer p {
  font-size: 8pt;
  margin-top: 5px;
}
.footer_content {
  width: 305px;
  float: right;
  /* margin: 0px 150px 0 0; */
}
.footer_content h3 {
  margin-top: 10px;
}
.logotext {
  margin-left: 103px;
}
.footer_sub {
  width: 991px;
  height: 100%;
  margin: 0 auto;
}
#top {
  width: 50px;
  height: 95px;
  background-color: whitesmoke;
  border-radius: 10px;
  position: fixed;
  float: right;
  bottom: 150px;
  right: 0;
}
/* 사이드 네비 */
